build
.vscode
.idea
data/*
!data/result
data/result/*
!data/result/.gitkeep
!data/tuple_text_to_bin.cpp
!data/Twitch*
!data/Twitch.in
!data/Twitch_beg_pos.bin
!data/Twitch_csr.bin
!data/Twitch_weight.bin
!data/Twitch.g
!data/Twitch3.csv
!data/Twitch5.csv
!data/Twitch7.csv